<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace = "com.kosta136th.mapper.dealerMapper">
			
	<select id="check" resultType="com.kosta136th.dealer.Dealer">
		SELECT USER.USER_EMAIL, USER.USER_NICKNAME, REGISTER_TYPE.USER_NUM, REGISTER_TYPE.REGISTER_TYPE_CODE FROM REGISTER_TYPE  
		JOIN USER ON REGISTER_TYPE.USER_NUM = USER.USER_NUM 
		WHERE REGISTER_TYPE_CODE  = 'D';
	</select>
		<insert id="insert">
		insert into DEALER_PAGE (CATEGORY, USER_NUM)
		values(#{category},#{user_num})
	</insert>
	
	<select id="list" resultType="com.kosta136th.dealer.Dealer">
		SELECT USER_NUM
		FROM DEALER_PAGE
	</select>
	
	<select id="read" resultType="com.kosta136th.dealer.Dealer">
		SELECT
			USER.USER_NICKNAME, CATEGORY
		FROM
			DEALER_PAGE
		JOIN USER ON USER.USER_NUM = DEALER_PAGE.USER_NUM

		WHERE DEALER_PAGE_NUM = #{dealerNum};
	</select>
	
	<delete id="delete">
		DELETE FROM DEALER_PAGE WHERE DEALER_PAGE_NUM = #{dealerNum}
	</delete>
	
	<select id="score" resultType="int">
		SELECT LIKE_COUNT - DISLIKE_COUNT FROM DEALER_PAGE WHERE DEALER_PAGE_NUM = #{dealerNum}
	</select>
	
	<update id="update">
		UPDATE DEALER_PAGE SET CATEGORY =#{category}
		WHERE DEALER_PAGE_NUM = #{dealerNum}
	</update>

	<update id="like">
		UPDATE DEALER_PAGE SET LIKE_COUNT = LIKE_COUNT + 10 WHERE DEALER_PAGE_NUM = #{dealerNum}
	</update>
	
	<update id="dislike">
		UPDATE DEALER_PAGE SET DISLIKE_COUNT = DISLIKE_COUNT + 10 WHERE DEALER_PAGE_NUM = #{dealerNum}
	</update>
	
	<select id="allList" resultType="com.kosta136th.dealer.Dealer">
		<![CDATA[
		SELECT USER.USER_NICKNAME, CATEGORY, LIKE_COUNT, DEALER_PAGE_NUM
		FROM DEALER_PAGE
		JOIN USER ON USER.USER_NUM = DEALER_PAGE.USER_NUM
		ORDER BY DEALER_PAGE_NUM ASC
		LIMIT 0, 15;
		]]>
	</select>
	
	<select id="downList" resultType="com.kosta136th.dealer.Dealer">
		<![CDATA[
		
		SELECT USER.USER_NICKNAME, CATEGORY, LIKE_COUNT, DEALER_PAGE_NUM
		FROM DEALER_PAGE
		JOIN USER ON USER.USER_NUM = DEALER_PAGE.USER_NUM
		WHERE DEALER_PAGE_NUM <= #{bnoToStart}
		AND DEALER_PAGE_NUM > #{bnoToStart}-20
		ORDER BY DEALER_PAGE_NUM ASC
		
		]]>

	</select>
	
	
	<select id ="searchList" resultType="com.kosta136th.dealer.Dealer">
		<![CDATA[
			SELECT USER.USER_NICKNAME, CATEGORY, LIKE_COUNT
			FROM DEALERPAGE
			JOIN USER ON USER>USER_NUM = DEALER_PAGE.USER_NUM
		]]>
			<include refid="search"></include>
		<![CDATA[
			ORDER BY LIKE_COUNT DESC
		]]>			
		
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND CATEGORY like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				AND USER.USER_NICKNAME like CONCAT('%', #{keyword}, '%')
			</if>
		</if>		
	</sql>
	</mapper>
