<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosta136th.mapper.freeBoardMapper">

	<insert id="create">
		INSERT INTO FREEBOARD(TITLE, CONTENT, WRITER) 
		VALUES(#{title}, #{content}, #{writer})
	</insert>
	
	
	<select id="read" resultType="freeBoard" parameterType="int">
		SELECT 
			FREEBOARD_NUM, TITLE, CONTENT, WRITER, REGI_DATE, VIEW_COUNT, REPLY_COUNT
		FROM 
			FREEBOARD
		WHERE 
			FREEBOARD_NUM = #{freeBoard_Num}
	</select>
	
	<select id="update" resultType="freeBoard">
		UPDATE 
			FREEBOARD SET TITLE = #{title}, CONTENT = #{content}
		WHERE
			FREEBOARD_NUM = #{freeBoard_Num}
	</select>

	<select id="delete" resultType="freeBoard">
		DELETE FROM 
			FREEBOARD
		WHERE 
			FREEBOARD_NUM = #{freeBoard_Num}
	</select>
	
	<select id="listAll" resultType="freeBoard">
	<![CDATA[
		SELECT FREEBOARD_NUM, TITLE, WRITER, REGI_DATE, VIEW_COUNT
		FROM 
			FREEBOARD
		WHERE 
			freeBoard_Num > 0
		ORDER BY 
			freeBoard_Num DESC, regi_date DESC
		]]>
	</select>
</mapper>