<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace = "com.kosta136th.mapper.marketPriceMapper">
	
		<insert id="rateSave">
			INSERT INTO MARKET_PRICE 
			(LABEL, NAME, PRICE_BTC, PRICE_USD, PRICE_CNY, PRICE_EUR, PRICE_GBP, PRICE_RUR, VOLUME_24H, TIMESTAMP)
			VALUES(#{label}, #{name}, #{price_btc_result}, #{price_usd_result}, #{price_cny_result}, #{price_eur_result}, #{price_gbp_result}, #{price_rur_result}, #{volume_24h_result}, ${timestamp})
		</insert>
		
		<!-- chart search -->
		<!-- #{money_type}은 통화 타입 (btc, usd, cny...)을 결정하기 위해 삽입 -->
		<!-- <select id="chart" resultType="com.kosta136th.domain.MarketPriceChart">
			SELECT TIMESTAMP, #{money_type}
			FROM MARKET_PRICE 
			WHERE NAME = #{name} 
		</select> -->
		
		<!-- value로 써야한다. -->
		<select id="chartData" resultType="com.kosta136th.marketPrice.MarketPriceChart">
			SELECT TIMESTAMP, ${value}
			FROM MARKET_PRICE
			WHERE NAME = "LiteCoin"
		</select>
		
		<select id="bitcoinList" resultType="com.kosta136th.marketPrice.MarketPrice">
		<![CDATA[
			SELECT
				*
			FROM
				MARKET
			ORDER BY VOLUME_24H DESC;
		
		]]>
		</select>
		
		<select id="bitcoinListLABEL" resultType="com.kosta136th.marketPrice.MarketPrice">
		<![CDATA[
			SELECT 
 				* 
			FROM 
 				MARKET 
			ORDER BY LABEL ASC; 
		
 		]]> 
		</select>
		
		<select id="bitcoinListNAME" resultType="com.kosta136th.marketPrice.MarketPrice">
		<![CDATA[
 			SELECT 
 				* 
 			FROM 
 				MARKET 
 			ORDER BY NAME ASC; 
		
 		]]> 
		</select>
		
				<select id="bitcoinListPRICE" resultType="com.kosta136th.marketPrice.MarketPrice">
		<![CDATA[
 			SELECT 
 				* 
 			FROM 
 				MARKET 
 			ORDER BY ${value} DESC; 
		
 		]]> 
		</select>
		
		<select id="oneChart" resultType="com.kosta136th.marketPrice.MarketPrice">
		SELECT TIMESTAMP, ${money_type}
		FROM MARKET_PRICE
		WHERE NAME = #{coin_type}

		</select>
		

	</mapper>

