<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.kosta136th.mapper.UserMapper">

	<select resultType="com.kosta136th.user.User" id="getLoginProfileByEmail">
		SELECT USER_EMAIL AS EMAIL, USER_PASSWORD AS PASSWORD, USER_NICKNAME AS NICKNAME FROM USER WHERE USER_EMAIL = #{email} AND USER_PASSWORD = #{password}  
	</select>
	
	<select resultType="com.kosta136th.user.User" id="getLoginProfileByNaver">
		SELECT USER_EMAIL AS EMAIL, USER_PASSWORD AS PASSWORD, USER_NICKNAME AS NICKNAME FROM USER WHERE USER_EMAIL = #{email}  
	</select>
	
	<insert id = "insertLoginProfileByEmail">
		INSERT INTO USER(USER_EMAIL, USER_PASSWORD, USER_NICKNAME) VALUES(#{email}, #{password}, #{nickname})
	</insert>
	
	<insert id = "insertLoginProfileByNaver">
		INSERT INTO USER(USER_EMAIL, USER_PASSWORD, USER_NICKNAME) VALUES(#{email}, #{password}, #{nickname})
	</insert>
	
	<select resultType="com.kosta136th.user.User" id="isEmailDuplicate">
		SELECT USER_EMAIL AS EMAIL, USER_PASSWORD AS PASSWORD, USER_NICKNAME AS NICKNAME FROM USER WHERE USER_EMAIL = #{email}
	</select>
	
	<update id = "updateUserPassword">
		UPDATE USER SET USER_PASSWORD = #{password} WHERE USER_EMAIL = #{email};
	</update>
	
	<select resultType="com.kosta136th.user.User" id="isNicknameDuplicate">
		SELECT USER_EMAIL AS EMAIL, USER_PASSWORD AS PASSWORD, USER_NICKNAME AS NICKNAME FROM USER WHERE USER_NICKNAME = #{nickname}
	</select>
	
	<insert id = "insertUserLoginRecord">
		INSERT INTO LOGIN(USER_NUM, LOGIN_DATE, LOGOUT_DATE) VALUES((SELECT USER_NUM FROM USER WHERE USER_EMAIL = #{email}), NOW(), NOW())
	</insert>
	
	<update id = "updateUserLogoutRecord">
		UPDATE LOGIN SET LOGOUT_DATE = NOW() WHERE LOGIN_NUM = #{login_num};
	</update>
	
	<select resultType = "java.lang.String" id = "selectUserLogoutRecord">
		SELECT LOGIN_NUM FROM LOGIN WHERE USER_NUM = (SELECT USER_NUM FROM USER WHERE USER_EMAIL = #{email}) AND LOGIN_DATE = LOGOUT_DATE ORDER BY LOGOUT_DATE DESC LIMIT 1
	</select>

</mapper>