@CHARSET "UTF-8";

/* header navigation*/
#mainNav{
	background-color: rgba(0, 0, 0, 0.7);
}

/* landing page header*/
#header-image{
	position: absolute;
	top:100px;
	left:50%;
	margin-left:-150px;
	z-index:10;
}

#header-content{
	position: absolute;
	top:400px;
	left:50%;
	margin-left:-423px;
	z-index:10;
}

#graph-link{
	position: absolute;
	top:30%;
	right:0;	
	z-index:10;
}

#graph-link_img{
	width:80%;
}

#news-link{
	position: absolute;
	top:55%;
	right:0;
	z-index:10;
}
		
#news-link_img{
	width:80%;
}		

/* first section */		
.bg-first {
	padding-bottom:50px;
  	background-color: #222222;
}

#bg-first{
	text-align: center;
	color:#fff;
	padding-top:70px;
	font-size:13px;
}

#bg-first_logo{
	padding:30px 0;
}

/* second section */
.bg-second{
	position: relative;
	background-color:#fff;
}

.second-title{	
	margin:20px 0;
}

.second-content{
	padding-bottom:30px;
}

/* third section */
.bg-third{
	padding-top:70px;
	padding-bottom:70px;
	background:url("../img/city_blur.png");
	color:#fff;
}

/* fourth section */
#logos{
	width:100%;
}

/****************** chart CSS ******************/
#chart_usd, #chart_cny {
	
	margin-top: 20px;
	min-height:	450px;
	position: relative;
	
}

/*** 시세리스트 ***/
/* 제목바  */
#title_bar {
	
	padding: 15px;
	background: #282b2d;
	
}

.tabs {
    min-width: 300px;
    min-height: 900px;
    height: 100%;
    overflow: scroll;
}

/* 탭 버튼 */
ul.nav-tabs>li>a {
	
	color: #ddd;
	border: none;
	border-top: 3px solid #2e3234;
	border-radius: 0;
	
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	
	color: #FFF; 
	cursor: default;
	background-color: #2e3234;
	border: none;
	border-top: 3px solid #33AADD;
	
}

/* focus, hover시 css */
.nav-tabs>li>a:hover{
	
	color: #FFF; 
	background-color: #3e4244;
	border: none;
	border-top: 3px solid #eee;
	
}

/* 버튼과 리스트 구분선 */
ul.nav.nav-tabs {
	
	background: #282b2d;
	border-bottom: 1px ;
	
}

#combo-box {
	
	background: #262a2c;
	border: 1px solid #33aadd;
	color: #ddd;
	
}

#drop-box {
	
	max-height: 43px;
	
}
