@CHARSET "UTF-8";

.bg-first {
	height:400px;
  	background-color: #F05F40;
}

.bg-second{
	height:300px;
	background-color:#00ff00;
}

.bg-third{
	height:300px;
	background-color:#ff80ff;
}

.bg-fourth{
	height:300px;
	background-color:#400000;
}

.bg-fifth{
	height:300px;
	background-color:#80ffff;
}

.bg-sixth{
	height:500px;
	background-color:#800000;
}