@CHARSET "UTF-8";

/* 성용에게 문의하세요 */
body, .container-fluid {
	
	background: #333;
	margin-top: 68px;
	padding: 0;
	
}

div#chart_info_title {
	
	margin: 0;
	background-color: #181b1d;
	height: 30px;
	color: #555;
	
}


div#chart_info {
	
	background-color: #181b1d;
	height: 50px;
	
}

#price_info {
	
	margin-top: -20px;
	padding-left: 40px;
	height: 56px;	
	/* width: 240px; */
	color: #33bbcc;
	font-size: 60px;
	display: inline-block;
	
}

#money_type_info, #coin_type_info {
	
	height: 56ox;
	color: #ddd;
	size: 50px;
	font-size: 30px;
	display: inline-block;
	
}

#money_type_info, #coin_type_info {
	
	margin-left: 20px;
	color: #EEE;
	font-size: 30px;
	
}


/* 글자는 흰색으로 출력 */
h3 {
	color: #eeeeee;
}

#mainNav {

	background: #101416;
	margin: 0;
	height: 65px;
	
}

#chart_info_title {
	
	padding-left: 40px; 
	font-size: 20px;
	
}


/*** 시세그래프 ***/
/* 그래프차트 공백 제거 */

#market_price_graph, h3.text-center  {
	
	margin: 0;
	padding: 0;
	
}

#chart {
	
	position: relative;
	min-height: 820px; 
	
}


/*** 시세리스트 ***/
/* 제목바  */
#title_bar {
	
	padding: 15px;
	background: #202426;
	
}


.tabs {
    min-width: 300px;
    min-height: 900px;
    height: 100%;
    overflow: scroll;
}


ul.nav-tabs>li>a {
	
	color: #ddd;
	border: none;
	border-top: 3px solid #2e3234;
	border-radius: 0;
	height: 45px;
	font-size: 14px;
	
}

ul.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	
	color: #FFF; 
	cursor: default;
	background-color: #262a2c;
	border: none;
	border-top: 3px solid #33AADD;
	transition: all 0.2s ease;
	
}

/* focus, hover시 css */
ul.nav-tabs>li>a:hover{
	
	color: #FFF; 
	background-color: #3e4244;
	border: none;
	border-top: 3px solid #eee;
	transition: all 0.3s ease;
	
}

/* 버튼과 리스트 구분선 */
ul.nav.nav-tabs {
	
	background: #202426;
	border-bottom: 1px ;
	
}



/* 시세리스트 배경  */
#market_price_list {
	
	max-height: 900px;
	margin: 0;
	border: 1px solid #262a2c;
	padding: 0;
	background: #2e3234;	/* 배경 */
	
	/* ie 스크롤바 색상 변경 */
	scrollbar-track-color: #2a2a2a;
	scrollbar-arrow-color: #2a2a2a;
	scrollbar-face-color: #333333;
	
}

thead > tr.label_bar {
	
	background-color: #262a2c;
	
}

.table>tbody>tr{
	
	border-top: 1px solid #262a2c;
	
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	
	color: #a6b6bc;
	border: none;
	/* border-bottom: 1px solid #262a2c; */
	
}


.table>tbody#bitrate>tr:hover, .table>tbody#rate>tr:hover{
	
	background: #3e4244;
	cursor: pointer;
	transition: all 0.3s ease;
	
}


tr.table_row.selected > td:nth-child(1) {
	
	border-left: 10px solid #33bbcc;
	transition: all 0.3s ease;
	
}

tr.table_row.selected >td {
	
	background: #4e5254;
	color: #eee;
	transition: all 0.3s ease;
	
}


#bitrate {
	
	max-height: 600px;
	overflow-y: auto; overflow-x:hidden;
	
}

/* li */
#drop-box_moneyType, #drop-box_sortingType{
	
	height: 45px;
	float: right;
}

/* combo-box */
#combo-box_moneyType, #combo-box_sortingType {
	
	height: 40px;
	background: #202426;
	border: 1px solid #2e3234;
	color: #ddd;
	font-size
	
}

#combo-box_moneyType:hover, #combo-box_sortingType:hover {
	
	background: #282c2e;
	border: 1px solid #ddd;
	color: #eee;
	
}

#combo-box_moneyType:focus, #combo-box_sortingType:focus {
	
	background: #262a2c;
	border: 1px solid #33aadd;
	color: #eee;
	
}


	
/* .form-group {
	
	align: right;
	
} */

	/* chrome, safari 스크롤바 색상 변경 */

	::-webkit-scrollbar {width: 12px; height: 8px;}
	::-webkit-scrollbar-corner {background:#2a2a2a }
	::-webkit-scrollbar-button {width: 12px;height: 12px; background: #2a2a2a}
	::-webkit-scrollbar-thumb {width: 9px; height:9px; background: #474747; -webkit-border-radius: 10px; border-radius:10px}
	::-webkit-scrollbar-track {width: 12px;height: 8px;background: #2a2a2a}  /* 길 */
	/*::-webkit-scrollbar-track-piece {width: 12px;height: 8px;background: #f00; -webkit-border-radius: 10px; border-radius:10px}*/
	
	

