@CHARSET "UTF-8";

/* 배너 및 광고 이미지*/
#bannerImg{
	margin-bottom:20px;
}

/* 인기 기사 목록 */
#favoriteWrapper{
	border : 5px solid #50CBE3;	
}

#favoriteHeader{
	background-color: #50CBE3;
}

#favoriteNewsTable{
	border-right : 2px solid #50CBE3;
	height:250px;
}

#favoriteNewsWrapper > div:nth-child(3){
	border:none;
}

#favorite_img{
	padding:10px 0;
}

#favorite_img > img{
	width:50%;
	height:50%;
} 

/* 관련 기사 검색 */
#searchNews{
	background-color: #fff;
	margin-bottom:15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* 기사 테이블 */
#newsTable{
	margin:10px 0;
}

#imgSrc > img{
	width:150px;
	height:150px;
}

hr { 
	background-color: #D7DADC;
	height: 1px; 
	border: 0; 
}

#subscribeBtn,
#subscribeBtn2{
	width:100%;
	height:100%;
}

/* 사이드 영역 */
#side{
	height:100%;
	background-color: #F2F2F2;
}

/* 구독신청 영역 */
#submitEmail{
	padding:12px;
	margin:15px 0;
	background-color:#fff;
}

