@CHARSET "UTF-8";

/* .navbar{
	margin-bottom:0;
} */

body, .container-fluid {
	
	margin-top: 0px;
	
}

#searchNews {
	
	margin-top: 68px;
	
}

#main_content {
	
	padding: 0;
	
}

#news_title {
	
	float: right;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;  
	background:url("../img/1903x500_news.png");
	
	text-align: center;
	font-size: 50px;
	color: #FFF;
	
}

#mainWrapper{
	background-color: #fff;
}

#mainWrapper > div:nth-child(1){
	padding-top:20px;
	background-color: #fafafa;
}

#mainWrapper > div:nth-child(2){
	padding-top:20px;
}
/* 관련 기사 검색 */
#searchInputBox{
	
	width:100%;
	height: 60px;
	
}

#searchIcon{
	width:30px;
	height:30px;
}

/* 인기 기사 목록 */

#newsTable > div#imgSrc {
	
	padding: 0;
	
}

#favoriteNewsTable > div > img {
	width : 100%;
	height : 100%;	
}

/* 기사 테이블 */
#newsTable{
	margin:10px 0;
}

#imgSrc > img{
	width:100%;
	height:200px;
}

#etcAttr{
	font-size : 1.3em;		
}

hr { 
	background-color: #D7DADC;
	height: 1px; 
	border: 0; 
}

#subscribeBtn,
#subscribeBtn2{
	width:100%;
	height:100%;
}



/* 사이드 영역 */
#side_content {

	margin-left: -10px
	padding:0;
}

#side{
	height:100%;
}

/* 구독신청 영역 */
#submitEmail{
	padding : 12px;
	margin : 15px 0;
	border : 1px solid #CCCCCC;
}

#email{
	width:100%;
	text-align: center;
}




/* email_input section */
#email_title {
	
	font-size: 45px;
	color: #FFF;
	
}

#email_section{
	
	background:url("../img/1903x600_blur_bridge.jpg");
	padding: 205px 0;
}

div#box{
	
	display: inline-block;
	width: 815px;		/* email 글자사이즈 수정 시 수정 */
	
}

form > .col-sm-2, form > .col-sm-10 {
	
	padding: 0;
	margin: 0;
	margin-top: 10px;
	
}

div.form-group {
	
	margin: 0;
	
}

input#email {
	
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	/* border-radius: 30px 0 0 30px; */
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 16px;
	color: #FFF;
	transition: all 0.4s ease;
	
}

input#email:hover {
	
	border: 1px solid rgba(200, 200, 200, 0.5);
	background-color: rgba(255, 255, 255, 0.3);
	color: #333;
	transition: all 0.4s ease;
	
}

input#email:focus {
	
	border: 1px solid rgba(200, 200, 200, 0.3);
	background-color: rgba(0, 0, 0, 0.3);
	color: #FFF;
	transition: all 0.4s ease;
	
}

.btn.btn-default {
	
	padding: 0;
	margin: 0;
	height: 50px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	/* border-radius:  0 30px 30px 0; */
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0;
	font-size: 16px;
	color: #FFF;
	transition: all 0.4s ease;
}

.btn.btn-default:hover {
	
	padding: 0;
	margin: 0;
	height: 50px;
	width: 100%;
	
}

.btn.btn-default:focus {
	
	padding: 0;
	margin: 0;
	height: 50px;
	width: 100%;
	
}


@media screen and (max-width: 1200px) {
   
   #email_section{
	
		padding: 180px 0;
		
	}
	
	#email_title {
	
		font-size: 40px;
		color: #FFF;
	
	}
	
	div#box {
	
		width: 725px;
	
	}

}

@media screen and (max-width: 768px) {
   
   #email_section{
	
		padding: 180px 0;
		
	}
	
	#email_title {
	
		font-size: 30px;
		color: #FFF;
	
	}
	
	div#box {
	
		width: 545px;
	
	}

}
